<h1>Contacts</h1>

<p><%= number_to_phone "JBjohnnyboy's Fake Number - 555-555-5555"%> </p>
<p><%= number_to_currency " 2.00"%> </p>
<p><%= number_to_percentage "80.4" %> </p>
<p><%= number_with_delimiter "123456" %> %</p>