<h1>Contacts</h1>

<hr>
<div class="row">
  <div class="col-md-6">
    
    <p><%= number_to_phone "JBjohnnyboy's Fake Number - 555-555-5555"%> </p>
    
    <p><%= number_to_currency " 2.00"%> </p>
    
    <p><%= number_to_percentage "80.4" %> </p>
    
    <p><%= number_with_delimiter "23456" %> %</p>
  </div>
  
  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3025.105686406865!2d-111.95734618418771!3d40.6936699793339!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87528c9d1d641321%3A0x90cf6256d98a62eb!2sValley+Fair+Mall!5e0!3m2!1sen!2sus!4v1502125262146" width="400" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>